<a href="https://colab.research.google.com/github/RayChen0623/Data-Collection/blob/master/Web_Scripting_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Package

In [0]:
import pandas as pd
import numpy as np
import requests
import lxml.html as lh
import datetime as dt

#### source: https://towardsdatascience.com/web-scraping-html-tables-with-python-c9baba21059

## Web Scriping from 090119 to now

In [0]:
dataList = [dt.datetime.now() - dt.timedelta(days = x) for x in range(0, (dt.datetime.now() - pd.to_datetime(dt.date(2019, 9, 1))).days)]

In [0]:
dataList2 = []
for x in dataList:
  dataList2.append(str(x.date()))

In [0]:
url = []
for x in dataList2:
  url.append('https://www.xe.com/currencytables/?from=USD&date=' + x)

In [0]:
df_list = []

for x in url:
  page = requests.get(x)
  doc = lh.fromstring(page.content)
  tr_elements = doc.xpath('//tr')
  col=[]
  i=0
  for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    col.append((name,[]))
  for j in range(1,len(tr_elements)):
    T = tr_elements[j]
    
    if len(T)!=4:
        break
    i=0
    
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
            try:
                data=int(data)
            except:
                pass
        col[i][1].append(data)
        i+=1
  Dict = {title:column for (title,column) in col}
  df = pd.DataFrame(Dict)
  df['Date'] = x[-10:]
  df_list.append(df)

In [0]:
if not df_list:
  df = pd.DataFrame(columns = ['Currency code', 'Currency name', 'Units per USD', 'USD per Unit', 'Date'])
else:
  df = pd.concat(df_list[:]) #pd.concat(df_list[1:])

In [0]:
df.columns = ['Currency code', 'Currency name', 'Units per USD', 'USD per Unit', 'Date']

In [8]:
df.head()

  Currency code      Currency name  Units per USD  USD per Unit        Date
0           USD          US Dollar   1.0000000000  1.0000000000  2019-09-30
1           EUR               Euro   0.9137156041  1.0944324421  2019-09-30
2           GBP      British Pound   0.8131953591  1.2297168064  2019-09-30
3           INR       Indian Rupee  70.7040607236  0.0141434592  2019-09-30
4           AUD  Australian Dollar   1.4809930402  0.6752226195  2019-09-30